{% extends 'base.html.twig' %}

{% block body %}
    <section class="home">
        {# {% for vehicle in Vehicles %}
            <p class="box">{{vehicle.name}}<br>{{vehicle.model}}</p>
        {% endfor %} #}
        <a class="aBox" href="/addVehicle"> Ajouter </a>
    </section>
    <section name="navbar">
        <a class="aBox">Home</a>
            <img src="">
        <a class="aBox">Menu</a>
    </section>
{% endblock %}