{% extends 'base.html.twig' %}

{% block title %}login
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
	<div class="flex container-column">

		{% include "_logo.html.twig" %}

		<section class="flex container-column">
			<a class="button" href="{{ path('app_register') }}">
				S'inscrire
			</a>
			<a class="button" href="{{ path('login') }}">
				Se connecter
			</a>
		</section>
	</div>
{% endblock %}
