{% extends 'base.html.twig' %}

{% block title %}login
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
	<div class="landing-page flex">
		<div class="logo-container">
			<img class="logo" src="{{ asset('build/images/Motorboxcf.png') }}">
		</div>

		<section class="landing-button-container flex">
			<a class="button" href="{{ path('app_register') }}">
				S'inscrire
			</a>
			<a class="button" href="{{ path('login') }}">
				Se connecter
			</a>
		</section>
	</div>
{% endblock %}
