{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
	{% include "_logo.html.twig" %}
	<div class="homepage">
		<a class="button button-login" href="{{ path('app_register') }}">
			S'inscrire
		</a>
		<a class="button button-login" href="{{ path('login') }}">
			Se connecter
		</a>
	</div>
{% endblock %}
