{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
	<div class="home-page">
		<div class="logo-container">
			<img class="logo" src="{{ asset('build/images/Motorboxcf.png') }}">
		</div>

		<section class="home-page-button">
			<div class="button">
				<h1>
					S'inscrire
				</h1>
			</div>
			<div class="button">
				<h1>
					Se connecter
				</h1>
			</div>
		</section>
	</div>
{% endblock %}
