{% extends 'base.html.twig' %}

{% block title %}login
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
	<div class="landing-page">
		<div class="logo-container">
			<img class="logo" src="{{ asset('build/images/Motorboxcf.png') }}">
		</div>

		<section class="landing-button-container">

			<a href="/register" class="landing-button">
				S'inscrire
			</a>

			<a href="/vehicle" class="landing-button">
				Se connecter
			</a>

		</section>
	</div>
{% endblock %}
