{% extends 'base.html.twig' %}

{% block title %}Edit Part{% endblock %}

{% block body %}
    <h1>Editer pièce</h1>

    {{ include('part/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('part_index') }}">Retour à la liste</a>

    {{ include('part/_delete_form.html.twig') }}
{% endblock %}
