{% extends 'base.html.twig' %}

{% block title %}Motorbox - Edition de pièce{% endblock %}

{% block body %}
        <a href="{{ path('part_index') }}"><img class="return" src="{{ asset('build/images/return.svg') }}"></img></a>


    <h1>Editer pièce</h1>

    {{ include('part/_form.html.twig') }}

    <button type="submit" form="part_form" class="button">Update</button>
    {{ include('part/_delete_form.html.twig') }}
{% endblock %}
