{% extends 'base.html.twig' %}

{% block title %}Motorbox - Nouvelle pièce{% endblock %}

{% block body %}
    <h1>Créer une nouvelle pièce</h1>

    {{ include('part/_form.html.twig') }}

    <a href="{{ path('part_index') }}">Retour à la liste</a>
{% endblock %}
