@import 'variables.scss';

// START BASE
*,
*::after,
*::before {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {
    font-family: 'catamaran', sans-serif;
    font-size: x-large;
    font-weight: 600;
    min-height: 100vh;
    background: #f5f5f5;
    color: $color-1;
}

.text-align-center {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
}

.container-column {
    flex-direction: column;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.title-form {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.link-style {
    text-decoration: none;
    color: #6a6b6c;
}

// Used for link and button
.button {
    text-decoration: none;
    text-align: center;
    font-size: 0.9em;
    margin: 2rem;
    padding: 2rem;
    border-radius: 100px;
    background-color: $color-blue;
    opacity: 0.8;
    color: $color-body;
    border: 0;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    box-shadow: $color-blue-light 8px 16px 32px
}

.title {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 2rem;
}

label {
    margin-right: 10px;;
}

// END BASE
// START NAVBAR
.navbar {
    position: fixed;
    display: flex;
    background-color: $color-3;
    color: $bg-color;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    justify-content: space-evenly;
    bottom: 0;
    width: 100vw;
}

.navbar img {
    height: 50px;
}

.navbar-container{
    padding-top: 4rem;
}

// END NAVBAR
// START LOGO
.logo-container {
    margin-bottom: 2rem;
}

.logo {
    width: 100%;
}

// END LOGO
// START HOME
// END HOME
// START LOGIN

.login-row {
    margin: 1rem;
    padding: .5rem;
}

.login-button {
    margin-top: 1rem;
    padding: 1rem 2rem;
}

// END LOGIN
// START REGISTER
// END REGISTER
// START INDEX VEHICLE
// END INDEX VEHICLE
// START SHOW VEHICLE
// END SHOW VEHICLE
// START FORM VEHICLE

.form-vehicle input {
    padding: 0.5rem;
    font-size: 1rem;;
    margin-bottom: 1rem;
}

// END FORM VEHICLE
// START NEW VEHICLE
// END NEW VEHICLE
// START EDIT VEHICLE
// END EDIT VEHICLE
// START PARTS VEHICLE

.container-vehicle {
    color: $black;
    margin-top: 1rem;
    margin-right: 1rem;
    justify-content: space-around;
}

.link-fa-edit {
    margin-bottom: .5rem;
}

.container-vehicle h2 {
    font-size: 1.8rem;;
}

.container-fa-button img {
    width: 3rem;
}

.progress-part {
    width: 80%;
    margin-bottom: 0.2rem;
    margin-top: 0.8rem;
    border-radius: 20px;
}

.part-input {
    display: none;
}

::-moz-progress-bar {
    background: linear-gradient(45deg, #295c9e, #052783);
    border-radius: 20px;
}

.container-parts {
    margin-left: 1rem;
    color:$black;
    margin-bottom: 4rem;
}

.container-part {
    margin-top: 1rem;
}

.sub-title {
    background-color: $color-blue;
    color: $white;
    border-radius: 3px;
    font-size: 1rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    margin-left: 7rem;
    margin-right: auto;
    padding: 7px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.part-button {
    margin: 1rem;
    padding: .5rem;
}

// END PARTS VEHICLE
// START PART FORM VEHICLE

.container-form-part {
    align-items: center;
}

.container-form-part input {
    padding: 0.5rem;
    font-size: 1rem;;
    margin-bottom: 1rem;
}

// END PART FORM VEHICLE
// START FONT AWESOME ICONS

.fa-edit {
    width: 2rem;
}

.fa-trash {
    border: none;
}

.fa-trash img {
    width: 2rem;
}

.fa-trash-part {
    width: 2rem;
    margin-left: 1rem;
    border: none;
}

.fa-edit-part {
    width: 2rem;
}

.icons-button {
    margin-right: 1rem;
}

// END FONT AWESOME ICONS
