@import 'variables.scss';

body {
    margin:0;
    background-color: #000014;
    min-height: 100vh;
}

button {
    background-color: green;
    border: none;
}

.box {
    opacity: 0.8;
    background-color: $color-3;
    border: white thin ;
    text-align: center;
    border-radius: 4px;
}

.home .box {
    width: 60vw;
    margin-left: calc(20% - 2rem);
    margin-right: calc(20% - 2rem);
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
}

.addVehicle {
    padding: 1em;
}

.addVehicle .selectBox {
    width: 60vw;
    padding: 1rem;
    margin-top: 1rem;
}

.addVehicle .inputBox{
    padding: 1rem;
    margin-top: 1rem;
}

.moto-input {
    padding: .4rem;
}

.addVehicle .inputBox .input {
    padding: .5rem;
}

.addVehicle .button{
    padding-left: calc(45vw - 1rem);
    padding-right: calc(45vw - 1rem);
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    bottom: 1rem;
}
