@import 'variables.scss';

*, *::after, *::before {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg-color;
    color: $color-1;
    min-height: 100vh;
  
}

.home .box {
    background-color:$color-3;
    width: 60vw;
    opacity: 0.8;
    border: white thin ;
    border-radius: 4px;
    margin-left: calc(20% - 2rem);
    margin-right: calc(20% - 2rem);
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    padding: 2rem;
}

// ---------------------------------Landing page------------------------------------ //

.landing-page{
    display: flex;
    flex-direction: column;
}

.landing-page .logo-container{
    margin-bottom: 4rem;
    text-align: center;
}

.landing-page .logo{
    width: 100%;
}

.landing-button-container{
    text-align: center;
}

.landing-button{
    background-color: $color-3;
    font-size: 1em;
    border-radius: 2rem;
    width: 60vw;
    height: 10vh;
    margin-bottom: 4rem;
}

// ---------------------------------End Landing page------------------------------------ //