@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;600;800&display=swap');

$bg-color: #000014;
$color-1: #6a6b6c;
$color-2: #4f89ac;
$color-3: #dfdfdf;
$color-4: #75a8be;
$color-5: #4f89ac;

// variable colors temporarly
$green: #008000; // used for buttons
$white: #ffffff; // used for .box
$black: #000000;

// new identity graphique
$color-body: #ecebeb;
$color-blue: #103baf;
$color-blue-light: #3758b4;
