@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;600;800&display=swap');

$primary-color: #103baf; // used for many background colors
$secondary-color: #ecebeb; // used for bg-color and color in the buttons
$tertiary-color: #dfdfdf; // used for bg-navbar and buttons border
$font-color: #6a6b6c;
$black: #000000; // used for another font and return icon
$white: #ffffff; // used for font in sub-title
$secondary-color-logo: #4f89ac; // used for border and icon in the navbar
$color-blue-light: #3758b4; // used for shadow buttons navbar links
$color-danger: #ad1010; // used for delete buttons
