<form method="post" action="{{ path('vehicle_parts_delete', {vehicle: vehicle.id, part: part.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer {{ part.name }} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ part.id) }}">
    <button class="button">Supprimer</button>
</form>
