{% extends 'base.html.twig' %}

{% block title %}New Part{% endblock %}

{% block body %}
    <h1>Créer une nouvelle pièce</h1>

    {{ include('part/_form.html.twig') }}

    <a href="{{ path('vehicle_parts', {vehicle: vehicle.id}) }}">back to list</a>
{% endblock %}
