{% extends 'base.html.twig' %}

{% block title %}Edit Part{% endblock %}

{% block body %}
    <h1>Edit Part</h1>

    {{ include('part/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('vehicle_parts', {vehicle: vehicle.id}) }}">back to list</a>

    {{ include('vehicle/_delete_parts_form.html.twig') }}
{% endblock %}
