<div class="navbar">
    <a class="" href="{{ path('vehicle_index') }}">Home</a>
    <img src="{{ asset('build/images/logoNavbar.png') }}">
    <a class="" href="{{ path('app_logout') }}">Menu</a>
</div>