<div class="navbar">
    <a class="" href="{{ path('vehicle_index') }}"><i class="fas fa-home"></i></a>
    <img src="{{ asset('build/images/Motorboxcf.png') }}">
    <a class="" href="{{ path('app_logout') }}"><i class="fas fa-bars"></i></a>
</div>