<div class="navbar">
    <a class="aBox conteneur-link" href="{{ path('vehicle_index') }}">Home</a>
    <img src="https://picsum.photos/220/50">
    <a class="aBox conteneur-link" href="{{ path('app_logout') }}">Menu</a>
</div>