{% extends 'base.html.twig' %}

{% block body %}
<section class="nameMotor">
    <p class="box"> Moto de Baptiste <br> KTM 125 sx </p>
</section>

<div class="flex parts">
    <h2>Nombre d'heure</h2>

    <div class="namePart">
        <label for="partOne">
            <p>nom de pièce</p>
            <progress value = "70" max = "100"> </progress>
            <input type="checkbox" name="my-checkbox" id="partOne">
        </label>
    </div>

    <div class="namePart">
        <label for="partTwo">
            <p>nom de pièce</p>
            <progress value = "100" max = "100"> </progress>
            <input type="checkbox" name="my-checkbox" id="partTwo">
        </label>
    </div>

    <div class="namePart">
        <label for="partThree">
            <p>nom de pièce</p>
            <progress value = "43" max = "100"> </progress>
            <input type="checkbox" name="my-checkbox" id="partThree">
        </label>
    </div>

    <div class="namePart">
        <label for="partFour">
            <p>nom de pièce</p>
            <progress value = "43" max = "100"> </progress>
            <input type="checkbox" name="my-checkbox" id="partFour">
        </label>
    </div>

    <div >
        <button class="buttonReplace" type="submit">Remplacer pièce</button>
    </div>
    <div>
        <button class="buttonAddPiece" type="submit">Ajouter pièce</button>
    </div>
</div>
{% endblock %}